body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f5f9;
}

.btn {
  margin: 5px;
}

.card {
  width: 50%;
  min-height: 500px;
}

.card-container {
  padding-top: 25%;
  padding-left: 10%;
  padding-right: 10%;
}

.fa-check-circle {
  color: green;
  margin-left: 5px;
}


.rating-img{
  width: 20px;
}

.jumbotron {
  background-color: #0B3948;
  color: white;
  text-align: center;
  margin: 100px;
  border-radius: 20px;
}

.ron-image {
  width: 50px;
}
